@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-principal: rgb(245, 226, 204);
    --color-secundario: rgb(243, 192, 192);

    --color-text: rgba(235, 15, 15, 0.918);
}

html {
    font-size: 16px;
    font-family: "Merriweather", serif;
    scroll-behavior: smooth;

    body {
        background-color: var(--color-principal);

        header {
            border-bottom: 1px solid var(--color-secundario);

            .cabecera {
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;
                padding: 10px 20px;
                background-color: var(--color-secundario);
            }

            .logo {
                width: 200px;
                height: 200px;

            }

            h1 {
                position: absolute;
                left: 30%;
                margin: 0;
                color: var(--color-text);
                font-size: 2.5 rem;
                text-align: center
            }

        }

        nav {
            margin: 2rem auto;

            ul {
                list-style: none;
                display: flex;
                justify-content: space-evenly;

                li {
                    display: flex;
                    align-items: center;
                    padding: 0.1rem 0.5rem;
                    border: 1px solid;
                    border-radius: 1rem;
                    background-color: var(--color-secundario);
                    color: var(--color-text);
                    cursor: pointer;

                    a {
                        text-decoration: none;
                        color: var(--color-text);
                    }
                }

                li:hover {
                    background-color: var(--color-principal);

                    a {
                        color: var(--color-secundario);
                    }
                }

                li: last-child {
                    position: relative;
                        .count {
                            position: absolute;
                            bottom: 0;
                            left: 5px;

                    }
                }

            }
        }

        main {
            background-image: url(../assets/img/Banner\ rosa.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            height: 25rem;
            position: relative;

            h2 {
                position: absolute;
                top: 50%;
                left: 2rem;
                color: var(--color-principal);
                text-shadow: 6px 6px 6px var(--color-text);
            }
        }

        #producto {
            margin: 1rem auto;
            text-align: center;


            h3 {
                color: var(--color-text);
                font-weight: 600;
                text-transform: uppercase;
                text-shadow: 4px 4px 4px var(--color-text);
                padding: 1rem 0;
            }

            .product {
                display: grid;
                grid-template-columns: repeat(3,1fr);
                gap: 2rem;
                padding: 2rem;
                justify-items:center;
                align-items: start;
            }

                
                .car {
                    background-color:var(--color-secundario);
                    border-radius: 1rem;
                    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
                    text-align: center;
                    padding: 1rem;
                    width: 100%;
                    max-width: 300px;
                    transition: transform 0.2s ease, box-shadow 0.2s ease;
                    
                    a {
                        text-decoration: none;

                        img {
                        width: 100%;
                        border-radius: 0.5rem;
                        object-fit: cover;
                        box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
                        }

                        h4 {
                        margin-top: 1rem;
                        color: var(--color-text);
                        }

                        p {
                        color: var(--color-text);
                        }
                    }
                    button {
                        background-color: var(--color-principal);
                        border:none;
                        border-radius: 10px;
                        cursor: pointer;
                        font-weight: bold;
                        padding: 0.5rem 0.5rem;
                        margin-top: 0.5rem;
                    }
                    
                    &:hover {
                        transform: scale(1.1);
                        box-shadow: 0 8px 8px rgb(245, 226, 204);

                    }
                }

            @media (max-width: 900px) {
                .product {
                    grid-template-columns: repeat(2,1fr);
                }
            }

            @media (max-width: 600px){
                .product {
                    grid-template-columns: 1fr;
                }
            }

        }

    }

}